<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link rel="stylesheet" href="public/css/card.css" type="text/css">
    <link rel="stylesheet" href="public/css/admin.css" type="text/css">
    <title>Admin</title>
</head>
<body>
    <nav>
        <div id="navUser">
            <a class="userBtn" href="/">Search</a>
            <% if(isAuth) { %>
                <a href="/admin" class="userBtn">Admin</a>
                <a href="/profile" class="userBtn">Profile</a>
            <% } else { %>
                <a href="/login" class="authBtn">Login</a>
                <a href="/register" class="authBtn">Register</a>
            <% } %>  
        </div>   
    </nav>

    
    <div class="card">
        <div class="cardHeader">
            <h1 class="cardHeading">Admin</h1>
        </div>
        <h3 class="cardInfoHeading">Add Car</h3>
        <form class="cardSectionGrid2" action="/admin" method="POST">
            <label for="carId">ID</label>
            <input type="text" name="carId" required>
            <label for="carName">Name</label>
            <input type="text" name="carName" required>
            <label for="fuelType">Fuel Type</label>
            <select name="fuelType" required>
                <option value="Petrol" selected>Petrol</option>
                <option value="Electric">Electric</option>
                <option value="Diesel">Diesel</option>
            </select>
            <label for="earlyTime">Early Time</label>
            <input type="time" name="earlyTime" required>
            <label for="lateTime">Late Time</label>
            <input type="time" name="lateTime" required>
            <label for="maxTime">Time Limit</label>
            <input type="number" name="maxTime" min="0" required>
            <label for="flatrate">Price</label>
            <input type="number" step="any" name="flatrate" min="0" required>
            <label for="costPerMinute">Price per minute</label>
            <input type="number" step="any" name="costPerMinute" min="0" required>
            <% if (locals.message) { %>
                <p class="response"> <%= message %> </p>
            <% } %> 
            <button>Add</button>
        </form>
    </div>
</body>
</html>