<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link rel="stylesheet" href="public/css/card.css" type="text/css">
    <script src="../public/script/search.js" async></script>
    <title>Car Search</title>
</head>
<body>
    <nav>
        <div id="navUser">
            <% if(isAuth) { %>
                <a href="/admin" class="userBtn">Admin</a>
                <a href="/profile" class="userBtn">Profile</a>
            <% } else { %>
                <a href="/login" class="authBtn">Login</a>
                <a href="/register" class="authBtn">Register</a>
            <% } %>  
        </div>   
    </nav>

    <div id="search">
      <div>
        <input type="text" name="name" id="searchBar" required placeholder="Search (when empty shows all and ignores fuel type)"><select name="fuelType" id="searchFuelType">
            <option value="Electric">Electric</option>
            <option value="Petrol">Petrol</option>
        </select><button id="searchBtn">Search</button>
      </div>
      <div id="filterOptions">
        <label for="date">Date</label>
        <input type="date" name="date" id="filterDate">
        <label for="time">Time</label>
        <input type="time" name="time" id="filterTime">
        <label for="duration">Duration</label>
        <input type="number" name="duration" id="filterDuration">
        <button id="filterSearchBtn">Search with filters</button>
      </div>
      <button id="searchAllBtn">Show all</button>
      <div class="response" id="searchResponse"></div> 
    </div>

    <div id="searchResults" class="cardsContainer"></div>
    

    <script id="cardTemplate" type="text/html">
        <div class="cardHeader">
            <h3 class="cardHeading">{NAME}</h3>
            <p class="cardSubheading">ID: {ID}</p>
          </div>        
          <div class="cardSectionGrid3">
            <div>
              <h3 class="cardInfoHeading">Fuel Type</h3>
              <p>{FUELTYPE}</p>
            </div>
            <div>
              <h3 class="cardInfoHeading">Time</h3>
              <p>Time Frame: {TIMEFRAME}</p>
              <p>Time limit: {MAXTIME} minutes</p>
            </div>
            <div>
              <h3 class="cardInfoHeading">Cost</h3>
              <p>Flatrate: {FLATRATE}€</p>
              <p>Cost per minute: {COSTPERMINUTE}€</p>
            </div>
          </div>
    
          <h3 class="cardSectionHeading">Check Availability / Book</h3>
          <div class="cardSectionGrid2">
            <label for="date">Date</label>
            <input type="date" name="date">
            <label for="time">Time</label>
            <input type="time" name="time">
            <label for="duration">Duration</label>
            <input type="number" name="duration">

            <button id="checkButton">Check Availability</button>
            <button id="bookButton">Book</button>
            <div class="response"></div>
          </div>
    </script>
</body>
</html>