<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link rel="stylesheet" href="public/css/profile.css" type="text/css">
    <link rel="stylesheet" href="public/css/card.css" type="text/css">
    <script src="../public/script/profile.js" async></script>
    <title>Profile</title>
</head>
<body>
    <nav>
        <div id="navUser">
            <a class="userBtn" href="/">Search</a>
            <% if(locals.isAuth) { %>
                <% if(locals.isAdmin) { %>
                    <a href="/admin" class="userBtn">Admin</a>
                <% } %>
                <a href="/profile" class="userBtn">Profile</a>
            <% } else { %>
                <a href="/login" class="authBtn">Login</a>
                <a href="/register" class="authBtn">Register</a>
            <% } %>  
        </div>   
    </nav>

    <div id="profile">
        <div class="profileSection" id="profileOptions">
            <h1>Profile</h1>
            <p>Logged in as: <%= username %></p>
            <form action="/logout" method="POST">
                <button>Logout</button>
            </form>
        </div>
        <div class="profileSection" id="profileInfo">
            <h2>Cost overview</h2>
            <p>Bookings: <%= totalBookings %></p>
            <p>Total cost: <%= totalCost %>€</p>
            <p>Average cost: <%= averageCost %>€</p>
        </div>
        <div class="profileSection">
            <h2>Bookings</h2>
            <button id="pastBookingsBtn">Past Bookings</button>
            <button id="upcomingBookingsBtn">Upcoming Bookings</button>
        </div>
    </div>
    
    <div id="bookingsContainer"></div>

    <script id="bookingTemplate" type="text/html">
        <div class="cardHeader">
            <h3 class="cardHeading">ID: {ID}</h3>
        </div>
        <p>Date: {DATE}</p>
        <p>Time: {TIME}</p>
        <p>Duration: {DURATION} minutes</p>
        <p>Price: {PRICE}€</p>
    </script>
</body>
</html>