<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link rel="stylesheet" href="public/css/card.css" type="text/css">
    <link rel="stylesheet" href="public/css/panel.css" type="text/css">
    <title>Register</title>
</head>
<body class="panelBody">
    <nav>
        <a class="userBtn" href="/">Search</a>
    </nav>
    
    <div class="card panel">
        <div class="cardHeader">
            <h1 class="cardHeading">Register</h1>
        </div>
        <form action="/register" method="POST" class="cardSectionGrid2">
            <label for="username">Username</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <% if (locals.message) { %>
                <p class="response"> <%= message %> </p>
            <% } %> 
            <button>Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login here.</a></p>
    </div>
</body>
</html>