.cardsContainer {
    color: #aaa;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.card {
    justify-self: center;
    align-self: center;
    padding: 20px;
    width: 40%;

    border: 1px solid #3d3d3d;
    background-color: #212121;
}

.card p {
    margin: 5px 0;
}

.card .response {
    grid-column: span 2;
    font-size: 13px;
    color: #3ea6ff;
}

.cardHeader {
    border-bottom: 1px solid #3d3d3d;
    padding-bottom: 5px;
}

.cardHeading {
    margin: 0px;
    color: white;
    font-size: 30px;
}

.cardSubheading {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #aaa;
}

.cardSectionGrid3 {
    border-bottom: 1px solid #3d3d3d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5px;
}

.cardSectionGrid2 {
    border-bottom: 1px solid #3d3d3d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5px;
    gap: 10px;
}

.cardSectionHeading {
    color: white;
    font-weight: 500;
    margin: 10px 0;
    font-size: 20px;
}

.cardInfoHeading {
    color: white;
    font-weight: 500;
    margin: 10px 0;
}
