@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    display: grid;
    grid-template-rows: 100px 1fr;
}

h1 {
    font-size: 20px;
    color: white;
    border-bottom:1px solid #3d3d3d;
    padding-bottom: 10px;
    margin-top: 0;
}

.panel {
    grid-row: 2;
    justify-self: center;
    align-self: center;
    border: 1px solid #3d3d3d;
    padding: 20px;
    font-weight: 400;
    background-color: #212121;
}

.panel form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3d3d3d;
}

.panel form input {
    background-color: #181818;
    border: 1px solid #3d3d3d;
    font-size: 17px;
    padding: 10px;
    color: #aaa;
}

.panel form label {
    color: #aaa;
    justify-self: start;
    padding: 10px;
    font-family: inherit;
    font-weight: 400;
}

.panel form button {
    grid-column: 1 / span 2;
    justify-self: center;
    width: 100%;
}

.panel form p {
    grid-column: 1 / span 2;
    padding: 0px 10px;
    color: #3ea6ff;
}

select {
    padding: 10px;
    background-color: #3d3d3d; 
    font-size: 17px;
    font-family: inherit;
    font-weight: 500;
    color: #aaa;
    border: 1px solid #3d3d3d;
}

.panel p {
    font-size: 14px;
    color: #aaa; 
}

.panel p a {
    color: white;
}