body {
    display: grid;
    grid-template-columns: 400px 3fr;
}

#profile {
    position: fixed;
    grid-column: 1;
    height: max(100vh, 120%);
    background-color: #212121;
    border-right: 1px solid #3d3d3d;
    padding: 30px;
    width: 350px;
}

#profile h1 {
    margin: 0;
    color: white;
}

.profileSection h2 {
    color: white;
    font-size: 20px;
    margin: 0 0 5px 0;
}

.profileSection {
    border-bottom: 1px solid #3d3d3d;
    padding: 10px 0;
}

p {
    padding-bottom: 5px;
}

#bookingsContainer {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 5px;
}

#bookingsContainer .cardHeading {
    font-size: 20px;
}
