body {
    display: grid;
    grid-template-rows: 100px 5fr;
}

#searchResults {
    grid-row: 2;
    color: #aaa;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#searchResults div {
    justify-self: center;
    border: 1px solid #3d3d3d;
    padding: 20px;
    background-color: #212121;
}